:root {
    --bg-primary: black;
    --primary-Mocha: #bd9c7b;
    --primary-dark: #ffffff;
    --light-gray: #2c2c2c;
    --btn-primary: #6366f1;
    --btn-secondary: #444;
    --text-color: #eaeaea;
}
