@import './colors.css';
#root {
  text-align: center;
}
body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 0;
  background-color: var(--bg-primary);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../public/images/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}
